.square {
  width: 60px;
  height: 60px;
  background-color: #7b6fff;
  border-radius: 5px;
}

.square:hover {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed !important;
}

.circle-won {
  background-color: #ae043d ;
}

.grey-background{
  background-color: rgb(12, 11, 11) !important;
}

.cross-won {
  background-color: #3fa7f0;
}
